body {
font-size: 14px;
height:95vh;
}

 /* Top of Page */ 


#top { 
padding: 20px;
display:block;
max-height 50vh;
color:#222;

}

a:link, a:visited {
text-decoration:none;
padding: 10px;
color:black;
}

a:hover {
text-decoration: underline;
color:black; }
a:active { text-decoration:none;
color:black;}

.container {
display: flex;
flex-wrap:wrap;
}

.top-left {
position:absolute;
top: 10px;
left: 20px;
}

.top-right {
position:absolute;
top: 10px;
right: 15px;
margin-right: 15px;
}

.tricon  {
margin: 5px;
}
/* Center */


.glogo {

margin: 20px;
}
.center {
display:flex;
flex-wrap:wrap;
flex-direction:column;
justify-content:center;
align-items:center;

}


/* search + buttons  */
.search {
display:flex;
border-radius: 25px;
border: 2px solid #D3D3D3;
align-items:center;
}
.searchbar {

height:20px;
border:none;
margin: 10x 45px 10px 45px;
width: 20vw;
}

button {

margin: 25px 15px 10px 15px;;
background-color:white;
border:none;
padding: 5px 20px 5px 20px;
}
button:hover {
border:1px solid #D3D3D3;
color:#222;
}

.clear {
height:24px;
opacity:.7;
self-align:flex-start;
}

.searchicon {
height:24px;
opacity:.7;
}


/*  buffer top */

.buffert {

min-height:25vh;
max-height:55vh;
}

/*buffer bottom */

.bufferb {
min-height:0vh;
max-height:55vh;
}

/*  Bottom of page   */
.bottom {
position:absolute;
bottom: 5px;;
opacity:.6;
flex-direction:column;
align-items:center;
width:100vw;
}


.b-left {

position:absolute;
left:15px;
bottom:5px;;
}

.b-center {
height:75px;

}




.b-right {

position:absolute;
right:15px;
bottom:5px;;
self-align:flex-end;
}

