body {
font-size: 14px; }


#top { 
padding-top:5px;
display:block;
}

a:link, a:visited {
text-decoration:none;
padding: 10px;
color:black;
}

a:hover {
text-decoration: underline;
color:black; }
a:active { text-decoration:none;
color:black;}
.top-left {
text-align:left;
position: fixed;
}

.top-right {
text-align:right;
position: relative;
top: 0px;
}
.glogo {

margin:auto;
}
.center {
display:block;
margin-left:auto;
margin-right:auto;
width 50%;
}
#bottom {

}

.b-left {
text-align:left;
position:fixed;
margin-left:15px;
}

.b-center {
text-align:center;
}
.b-right {
text-align:right;
bottom: 0px;
margin-right: 15px;
}

